atomicwrites==1.3.0
attrs==19.1.0
automium==0.2.6
automium-web==0.1.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
Django==2.2
Flask==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
legacy==0.1.6
MarkupSafe==1.1.1
more-itertools==7.0.0
pluggy==0.9.0
py==1.8.0
pytest==4.4.1
pytest-django==3.4.8
pytz==2019.1
requests==2.21.0
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.2
views==0.3
Werkzeug==0.15.2
