<!DOCTYPE html>
{%  load static %}
<html lang="ru">
<head>
     <!-- import favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'media/source_code_32.ico' %} "/>
     <!-- import favicon-->


    <!-- connecting css styles-->
    <link rel="stylesheet" href="{% static 'css/mira_blog/blog.css' %}"/>
     <!-- connecting css styles-->


    <meta charset="UTF-8">
    <title>Мира</title>
</head>
<body>

<div>

    <img class="logo" src="{% static 'media/mira.png' %}" alt="Mira_logo">


</div>
</body>
</html>